* {
    background-color: lightcyan;
}
div {
    background-color: lightseagreen;
}
.cl1 {
    background-color: lightcoral;
}
#id1{
    background-color: lightgreen;
}

#id1{
    background-color: lightpink;
}
.cl1 {
    background-color: blueviolet;
}
