#div1{
    height: 70px;
    width: 70px;
    margin: 150px;
    background-color: orange;
    /* transform: translate(30px,30px); */
    /* transform: scale(1.2); */
    /* transform: skew(45deg,0); */
    /* transform: rotateX(60deg); */
    /* transform: scaleY(0.5); */
    transform: translateX(30px);
}